<!--
  [] comunicacion de padre a hijo
  () comunicacion de hijo a padre
  [()] comunicacion en 2 sentidos


  Stateless components:
  Son componentes que no manipulan la informacion (no tienen un estado propio)
  - Solamenente dibujan la informacion que reciben en pantalla, pero no modifican el estado

  Statefull components:
  Son componentes que manipulan la informacion (o el estado de la data)
  - Tienen informacion propia
-->
<h4 class="mb-3">Empleados en vacaciones:</h4>
<app-employee-list
  (selectEmployee)="eliminarEmpleado($event)"
  [employees]="empleadosEnVacaciones"
></app-employee-list>

<hr />

<h4 class="mb-3">Empleados nuevos:</h4>
<app-employee-list [employees]="empleadosNuevos"></app-employee-list>

<br /><br />

<button (click)="addEmpleado()" class="btn btn-success">
  Agregar Empleado
</button>
